@import '../../../base.scss';

.sidebar{
    top: -81px;
    z-index: 999999;
    overflow-y:scroll;
}
.hide{
  display: none;
}
.show{
  display: block;
}

::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255); 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(88, 88, 88); 
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #979595; 
  }